<div class="sticky-top">
  <app-header [headerText]="songCartHeader" [showCart]="showCart"></app-header>
  <ul class="list-group">
    <!-- Table Header -->
    <li
      *ngIf="isItemInCart()"
      class="list-group-item mb-1 bg-dark text-white rounded container"
    >
      <div class="row">
        <div class="col-md-4">
          Title
        </div>
        <div class="col-md-4">
          Artist
        </div>
      </div>
    </li>
    <!-- When there are no items in cart -->
    <li
      *ngIf="!isItemInCart()"
      class="list-group-item shadow-sm mt-1 bg-white rounded container"
    >
      No songs in the cart!
    </li>
  </ul>
</div>
<!-- Song list -->
<ul class="list-group">
  <ng-container *ngFor="let song of songList; container">
    <li
      *ngIf="song.addedToCart"
      class="list-group-item shadow-sm mb-1 bg-white rounded"
    >
      <div class="row">
        <div class="col-md-4">
          {{ song.title }}
        </div>
        <div class="col-md-4">
          {{ song.artist }}
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <button class="btn btn-danger" (click)="onDelete(song.id)">
            Delete
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ul>
<button (click)="goToSongList()" class="btn btn-primary mt-3 float-right">Go Back</button>
