<ul class="list-group">
  <!-- Table Header -->
  <li class="list-group-item mb-1 bg-dark text-white rounded sticky-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          Title
          <i class="material-icons text-white ml-1">
            sort
          </i>
        </div>
        <div class="col-md-4">
          Artist
          <i class="material-icons text-white ml-1">
            sort
          </i>
        </div>
      </div>
    </div>
  </li>

  <!-- Song list -->
  <li
    *ngFor="let song of songList"
    class="list-group-item shadow-sm mb-1 bg-white rounded"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {{ song.title }}
        </div>
        <div class="col-md-4">
          {{ song.artist }}
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <button *ngIf="song.addedToCart" class="btn btn-secondary disabled">
            Added to cart
          </button>

          <button
            *ngIf="!song.addedToCart"
            class="btn btn-primary"
            (click)="onClickAddToCart(song.id)"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
